img {
  display: block;
  max-width: 300px;
  max-height: 500px;
  width: auto;
  height: auto;
}

.center {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.message {
  padding: 3%;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

/* .imagebox .imagebox-desc {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0px;
  color: white;
  font-size: 1.2em;
  left: 0px;
  padding: 10px 15px;
  position: absolute;
  transition: 0.5s padding;
  text-align: center;
  width: 100%;
} */

@media only screen and (min-width: 920px) {
  /* .center {
    background-color: lightblue;
  } */

  img {
    display: block;
    max-width: 500px;
    max-height: 700px;
    width: auto;
    height: auto;
  }

  .center {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
