<div
  class="center"
  *ngFor="let i of imageList; let index = index; first as isFirst"
  [class.first]="isFirst"
>
  <div class="row">
    <div>
      <div class="card img-box">
        <img src="{{ i.imageUrl }}" alt="" />
      </div>
    </div>
  </div>
</div>

<div
  class="center"
  *ngFor="let i of imageList; let index = index; first as isFirst"
  [class.first]="isFirst"
>
  <div class="row">
    <div>
      <div class="card img-box">
        <p>{{ i.caption }}</p>
      </div>
    </div>
  </div>
</div>
