<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  (scroll)="onWindowScroll()"
  color-on-scroll="500"
>
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" routerLink="/home"
        ><img class="custom-logo" src="assets/img/navbarHope.png" alt=""
      /></a>
      <button
        class="navbar-toggler navbar-burger"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="sidebarToggle()"
      >
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">
            <p>Home</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            rel="tooltip"
            title="See your photos here"
            data-placement="bottom"
            routerLink="/familyfriends"
          >
            <p>Friends & Family</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            rel="tooltip"
            title="Follow us on Instagram"
            data-placement="bottom"
            href="https://www.instagram.com/CreativeTimOfficial"
          >
            <p>About</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="https://www.creative-tim.com/product/paper-kit-2-pro-angular?ref=pk2-angular-free-local"
            target="_blank"
            class="btn btn-outline-neutral btn-round"
            >Get Started</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
