.support-header {
  font-size: 2.5rem;
}
.title {
  color: #5680a0;
}
.button-blue {
  border-color: #5680a0;
  color: #5680a0;
}
.icon {
  color: #5680a0;
}
.arrow-container {
  align-items: center;
  text-align: center;
  background-color: #eeeeee;
}
.down-arrow {
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.cont-lightgray {
  background-color: antiquewhite;
}
