.support-header {
  margin-top: 2em;
  font-size: 2.5rem;
}
.title {
  color: #5680a0;
}
.button-blue {
  border-color: #5680a0;
  color: #5680a0;
}
.icon {
  color: #5680a0;
}
.arrow-container {
  align-items: center;
  text-align: center;
  background-color: #eeeeee;
}
.down-arrow {
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.cont-lightgray {
  background-color: antiquewhite;
}
.flexin-box {
  display: flex;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #5680a0 !important;
}

.carousel-control-next-icon {
  background-color: #5680a0;
}

@media screen and (max-width: 1100px) {
  .flexin-box {
    display: flex;
    flex-direction: column;
  }

  .carousel {
    display: none;
  }
}
